.navbar{
    background-color: #A9EFFE !important;
}
.navbar:hover{
    cursor: pointer;
}
.nav-item{
    transition-duration: 0.5s;
}
.nav-item:hover{
    transform: rotate(0.03turn);
}
.image-fluid{
    transition-duration: 1s;
}
.image-fluid:hover{
    transform: scale(0.9);
}